@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Gilda;
  src: url("../assets/fonts/gilda/GildaDisplay-Regular.ttf") format("truetype");
}