:root {
  --color_primary: #720F11;
  --color_dark: #222222;
  --color_dark2: #272432;
  --color_light: #FFFFFF;
}

@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Gilda;
  src: url("../assets/fonts/gilda/GildaDisplay-Regular.ttf") format("truetype");
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 400;
}

i {
  display: inline-block;
}

html, body {
  height: 100%;
}

.headerPrimary {
  display: grid;
  grid-template-columns: 450px 1fr 300px;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color_primary);
}

.logo {
  display: flex;
  gap: 11px;
  align-items: center;
  width: 100%;
  height: 100px;
}
.logoContainer {
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.logoContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.logoTitle {
  color: var(--color_light);
  font-family: "Gilda";
  font-size: 30px;
}

.searchBar {
  position: relative;
  height: 40px;
}
.searchBarInput {
  width: 100%;
  height: 100%;
  padding: 8px 20px;
  padding-right: 50px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.searchBarIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-image: url("../assets/icons/search.svg");
  background-size: 100% 100%;
}

.user {
  display: flex;
  gap: 70px;
  justify-content: flex-end;
  color: var(--color_light);
}
.user i {
  width: 24px;
  height: 24px;
}
.userCart, .userSec {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.userCartIcon {
  background-image: url("../assets/icons/shopping-cart.svg");
}
.userSecIcon {
  background-image: url("../assets/icons/user.svg");
}

.nav {
  width: 100%;
  height: 50px;
  display: grid;
  place-items: center;
  background-color: var(--color_dark2);
}
.nav ul {
  display: flex;
  gap: 80px;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: var(--color_light);
  cursor: pointer;
}
.nav a:hover {
  color: var(--color_primary);
}

body {
  display: grid;
  grid-template-rows: 100px 50px 1fr 400px;
}